.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loginbg {
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.login-screen {
  text-align: center;
  padding: 0;
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1;
  font-size: calc(10px + 2vmin);
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.App-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  flex-direction: column;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.edit-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.363);
  backdrop-filter: blur(2px);
}
.edit {
  border-radius: 7px;
  padding: 2rem;
  background-color: white;
  width: 24.2em;
  height: 13.5em;
}
.close-edit {
  position: relative;
  /* align-items: right; */
  left: 226px;
  bottom: 20px;
}
.save-button {
  position: relative;
  left: 135px;
  bottom: 40px;
}
.edit-form {
  position: relative;
  right: 15px;
  bottom: 40px;
}
.login-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #213555;
}
.login {
  position: fixed;
  border-radius: 7px;
  padding: 2rem;
  background-color: #ffffff;
  width: 24.5em;
  height: 11.2em;
}
.login-button {
  position: fixed;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 150px;
}
.FinanceScreen {
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.FinanceTable {
  z-index: 1;
}

.Finance-footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 1;
  font-size: calc(10px + 2vmin);
  align-items: end;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
}

.Additempos {
  right: 20px;
}

.table-container {
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
}
.center-rememberme {
  position: absolute;
  top: 135px;
  left: 165px;
}
.signuplink {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 70px;
}
.errormsg {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 450px;
  padding: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.financebg {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.Navbar {
  position: sticky;
  top: 0;
}

.profileCard {
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  display: contents;
}
